<div class="container">
  <% Post.last(20).each_with_index do |this_post, index| %>
    <% index += 1 %>
    <% TimeWarp.set_delta_time Post.first.created_at  %>
    <div class="news_list_item">
      <p><span class="news_number"><%= index %></span>
      <span class="news_title"><a href="<%= this_post.url %>"><%= this_post.title %></a> <%= this_post.content %></span></p>
      <p class="news_comments"><a href="/posts/<%= this_post.id%>"><%= this_post.comments.count %> comments </a>| Posted <%= TimeWarp.minutes_ago %> minutes ago</a></span></p>
    </div>

  <% end %>
</div>
